body {
  margin: 0;
  font-size: 1.4em;
  background:#dfdfdf;
  color: #333;
  
}


html, body, #root {
height: 100%;
}

h1,h2,h3,p {
  margin: 0;
}

input, textarea{
  color: #333;
  padding:8px;
  font-size: 1em;
  border-radius: 4px;
  border: 1px solid #dfdfdf;
  display: block;
  width: 100%;
  box-sizing: border-box
}

.page-title {
  margin: 40px auto;
  text-align: center;
  color: #333;
}

.loading, .error{
  text-align: center;
  margin: 40px, auto;
}

